<!DOCTYPE html>
<!--- Goal of this page is to Welcome Users and Be the Main Directory -->
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/static/style.css" rel="stylesheet">
        <!--Fonts that I want to use on this page -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap" rel="stylesheet">
        <title>Money Over Matter {% block title %}{% endblock %} </title>
    </head>

    <body>

        <!--General code for the website here -->

       <!--Bootstrap Navigation-->
       <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fca311">
        <a class="navbar-brand" href="/">Money Over Matter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/know">Basics</a>
            <a class="nav-item nav-link" href="/quiz"> Quiz</a>
            <a class="nav-item nav-link" href="/news"> News</a>
          </div>
        </div>
      </nav>

      {% block main %}

      {% endblock %}
      </body>


